pbr>=1.8

oslo.config>=2.3.0 # Apache-2.0

# From DLC
chardet==3.0.4
cloudpickle==0.5.3
cycler==0.10.0
dask==0.18.0
decorator==4.3.0
easydict==1.7
idna==2.7
imageio==2.3.0
kiwisolver==1.0.1
matplotlib==2.2.2
moviepy==0.2.3.5
networkx==2.1
numexpr==2.6.5
numpy==1.14.5
pandas==0.23.1
pillow==5.1.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
pywavelets==0.5.2
pyyaml==3.12
requests==2.19.1
scikit-image==0.14.0
scipy==1.1.0
six==1.11.0
sk-video==1.1.10
tables==3.4.4
toolz==0.9.0
tqdm==4.23.4
urllib3==1.23
